<% include ../partials/header %>

  <div class="container">
    <h2 class="text-center">Search Results</h2>

   <table class="table table-bordered" id="searchresults">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>IMDbID</th>
        <th>Type</th>
        <th>Details</th>
      </tr>
      <% Search.forEach(function(item,idx){ %>
        <tr>
          <td><%= item.Title %></td>
          <td><%= item.Year %></td>
          <td><%= item.imdbID %></td>
          <td><%= item.Type %></td>
          <td style="vertical-align:middle" align="center"><a href="/movies/<%= Search[idx].imdbID %>" class="btn btn-stroke-black btn-xs btn-block" id="searchbutton">Details</a></td>
        </tr>

      <% }) %>


    </table>
</div>

  <% include ../partials/footer %>